In [1]:
import pandas as pd
import numpy as np

## Pseudoscorpions of the World
Harvey, M.S. (2013). Pseudoscorpions of the World, version 3.0. Western Australian Museum, Perth. http://www.museum.wa.gov.au/catalogues/pseudoscorpions

In [2]:
full_pseudoscorpion_classification = "POW_data/pseudoscorp_full_classification.csv"
extant_data = pd.read_csv(full_pseudoscorpion_classification)
extant_data

,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Superfamilies,Family,Subfamily,Tribe,Genera
0,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Epiocheirata Harvey 1992,Chthonioidea Daday 1888,Chthoniidae Daday 1888,NaN,Ayyaloniini Ćurčić 2008,NaN
1,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Epiocheirata Harvey 1992,Chthonioidea Daday 1888,Chthoniidae Daday 1888,NaN,Chthoniini Daday 1888,NaN
2,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Epiocheirata Harvey 1992,Chthonioidea Daday 1888,Chthoniidae Daday 1888,NaN,Tyrannochthoniini Chamberlin 1962,NaN
3,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Epiocheirata Harvey 1992,Chthonioidea Daday 1888,"Dracochelidae Schawaller, Shear and Bonamo 1991",NaN,NaN,"Dracochela Schawaller, Shear and Bonamo 1991"
4,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Epiocheirata Harvey 1992,Chthonioidea Daday 1888,Lechytiidae Chamberlin 1929,NaN,NaN,Lechytia Balzan 1892
...,...,...,...,...,...,...,...,...,...,...,...
902,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Iocheirata Harvey 1992,Superfamily Neobisioidea Chamberlin 1930,Family Syarinidae Chamberlin 1930,Subfamily Syarininae Chamberlin 1930,NaN,Pseudoblothrus Beier 1931
903,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Iocheirata Harvey 1992,Superfamily Neobisioidea Chamberlin 1930,Family Syarinidae Chamberlin 1930,Subfamily Syarininae Chamberlin 1930,NaN,Syarinus Chamberlin 1925
904,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Iocheirata Harvey 1992,Superfamily Sternophoroidea Chamberlin 1923,Family Sternophoridae Chamberlin 1923,NaN,NaN,Afrosternophorus Beier 1967
905,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Iocheirata Harvey 1992,Superfamily Sternophoroidea Chamberlin 1923,Family Sternophoridae Chamberlin 1923,NaN,NaN,Garyops Banks 1909
906,Animalia,Arthropoda,Chelicerata,Arachnida,Pseudoscorpiones,Iocheirata Harvey 1992,Superfamily Sternophoroidea Chamberlin 1923,Family Sternophoridae Chamberlin 1923,NaN,NaN,Idiogaryops Hoff 1963

In [8]:
suborder = extant_data.Suborder.str.split(expand=True)
DF_suborder = pd.DataFrame(suborder)
DF_suborder.columns = ["Suborder", "SO_author", "SO_pubyr"]
DF_suborder

         Suborder SO_author SO_pubyr
0    Epiocheirata    Harvey     1992
1    Epiocheirata    Harvey     1992
2    Epiocheirata    Harvey     1992
3    Epiocheirata    Harvey     1992
4    Epiocheirata    Harvey     1992
..            ...       ...      ...
902    Iocheirata    Harvey     1992
903    Iocheirata    Harvey     1992
904    Iocheirata    Harvey     1992
905    Iocheirata    Harvey     1992
906    Iocheirata    Harvey     1992

[907 rows x 3 columns]

##### extant_data cleaning....
1. Need to seperate the Authors and publication year of Suborder, Superfamily, family, tribe, and genera. 
2. drop NaN? Doesn't that get "rid" of the entire row? If so, no go.

## World Spider Catalog
Dunlop, J. A., Penney, D. & Jekel, D. 2020. A summary list of fossil spiders and their relatives. In World Spider
Catalog. Natural History Museum Bern, online at http://wsc.nmbe.ch, version 20.5, accessed on {4 October 2020}.

In [9]:
fossildata_from_WSC2020 = "WSC_data/WSC2020_pseudoscorpiones.csv"
WSC_data = pd.read_csv(fossildata_from_WSC2020)
WSC_data

,Order,SuperFamily,Family,Range,Genus,Species,Author,Type Locality,Type Age range
0,Paleosphyronida,Dracocheloidea,Dracochelidea,Devonian ‒ Recent,Dracochela,deprehendor,"Schwaller, Shear & Bonamo, 1991",Gilboa,Devonian
1,Heterospyhronida,Chtonoidea,Chthonoidea,Cretaceous ‒ Recent,indet.,indet.,Ahrens et al. (2019),Bitterfeld,Paleogene
2,Heterospyhronida,Chtonoidea,Chthoniidae,Cretaceous ‒ Recent,Chelignathus,kochii,Menge in Koch & Berendt 1854,Baltic,Paleogene
3,Heterospyhronida,Chtonoidea,Chthoniidae,Cretaceous ‒ Recent,Chthonius (Chthonius),mengei,"Beier, 1937",Baltic,Paleogene
4,Heterospyhronida,Chtonoidea,Chthoniidae,Cretaceous ‒ Recent,Chthonius (Chthonius),pristinus,"Schwaller, 1978",Baltic,Paleogene
...,...,...,...,...,...,...,...,...,...
80,Panctenata,Cheliferoidea,Withiidae,Paleogene ‒ Recent,indet.,indet.,in Ahrens et al. (2019),Bitterfeld,Paleogene
81,Panctenata,Cheliferoidea,Withiidae,Paleogene ‒ Recent,Beierowithius,sieboldtii,(Menge in Koch & Berendt 1854),Baltic,Paleogene
82,Panctenata,Cheliferoidea,Withiidae,Paleogene ‒ Recent,Withius,eucarpus,"(Dalman, 1826)",East Africa,Quaternary
83,indet.,indet.,NOMUM DUBIUM,indet.,Chelifer,ehrenbergii,"C.L. Koch & Berendt, 1854",Baltic,Paleogene
84,indet.,indet.,NOMUM NUDUM,indet.,Chelifer,fossilis,"Weyenbergh, 1874",Solnhofen,Jurassic

##### WSC cleaning......
1. seperate the range into range_start and range_end. 
2. seperate Author and pub. yr. 
3. description authors vs. subsequent authors
4. seperate subgenera and genera

## PBDB Data

In [ ]:
PBDB_fossil_pscorps = "PBDB_data/PBDBreview_pseudoscorps.csv"
DF_pscorps_fossils = pd.read_csv(PBDB_fossil_pscorps)
DF_pscorps_fossils

In [ ]:
PBDB_invalid_taxa = "PBDB_data/invalid_taxa.csv"
DF_invalid_taxa = pd.read_csv(PBDB_invalid_taxa)
DF_invalid_taxa

In [ ]:
PBDB_references = "PBDB_data/references.csv"
DF_references = pd.read_csv(PBDB_references)
DF_references

In [ ]:
PBDB_valid_taxa = "PBDB_data/valid_taxa.csv"
DF_valid_taxa = pd.read_csv(PBDB_valid_taxa)
DF_valid_taxa

In [ ]:
PBDB_opinions = "PBDB_data/opinions.csv"
DF_opinions = pd.read_csv(PBDB_opinions)
DF_opinions